.tittle,
.lista,
.sconto,
.select {
	cursor: pointer;
}

.tittle,
.lista,
.sconto {
	&:hover {
		color: var(--lista);
	}
}
.sconto {
	margin-left: 0.5em;
}
.listaContainer {
	list-style: none;
}

.tittle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0;
	margin-top: 0.5em;
}
.down {
	transform: rotate(180deg);
}
.select {
	color: var(--lista);
}
